.venv/
__pycache__/
*.py[cod]
.ipynb_checkpoints/

data/raw/*.html
data/processed/analysis/plots/

.env
.DS_Store
Thumbs.db
data/processed/analysis/matplotlib_config/
.tmp/
data/raw/listados/
data/raw/**/*.html
